.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #f4f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* add an overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup input[type="text"]{
    width: 80%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.popup button:last-child {
    width: 85%;
    padding: 10px;
}

.close-button{
    /* move a button inside the popup to the left */
    margin-left: auto;
    /* give it some margin from the right */
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    
}
